/* GENERAL */

.container {
  max-width: 960px;
  margin: 0 auto;
}

<<<<<<< HEAD
/*body {
  background-color: #000000;
}*/

=======
>>>>>>> master

/* 
    ~~~~~~~~~~~~~~~~
      MENU STYLING 
    ~~~~~~~~~~~~~~~~
*/
#nav-trigger {
<<<<<<< HEAD
  display: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 1.0);
=======
  position: relative;
  display: none;
  text-align: left;
  background-color: rgba(1, 0, 0, 1.0);
>>>>>>> master
  width: 100%;
  padding: 10px 30px;
}

#nav-trigger span {
  display: inline-block;
<<<<<<< HEAD
  padding: 10px 30px;
  color: #efefef;
  cursor: pointer;
  text-transform: uppercase;
=======
  cursor: pointer;
}

#nav-trigger span img {
  max-height: 40px;
>>>>>>> master
}

#nav-trigger span:after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  content: "";
<<<<<<< HEAD
  border-top: solid 10px #00ccd6;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent; 
}

#nav-trigger span:hover{
  color: #00ccd6;
=======
}

#nav-trigger span:hover{
  opacity: 0.9;
>>>>>>> master
}

#nav-trigger span.open:after {
  border-left: solid 10px transparent;
<<<<<<< HEAD
  border-top: none;
  border-bottom: solid 10px #00ccd6;
  border-right: solid 10px transparent; 
}

nav#nav-main {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  text-transform: uppercase;
  font-family: Open Sans;
  position: fixed;
  width: 100%;

=======
}

nav#nav-main {
  background-color: rgba(0, 0, 0, 1.0);
  padding: 10px 0;
  text-transform: uppercase;
  font-family: Dosis;
  /*position: fixed;*/
  width: 100%;
  font-size: 13px;
>>>>>>> master
  top: 0px;
  left: 0px;
}

nav#nav-main ul {
  list-style-type: none;
<<<<<<< HEAD
  margin: 0;
  padding: 0;
=======
>>>>>>> master
  text-align: right;
}

nav#nav-main li {
  display: inline-block;
  padding: 0 6px;

}

nav#nav-main li:last-child {
  border-right: none;
}

nav#nav-main a {
  display: block;
  color: #ffffff;
<<<<<<< HEAD
  padding: 20px 30px;
 }

nav#nav-main a:hover {
  color: orange;
=======
  padding: 7px 30px;
 }

nav#nav-main a:hover {
  color: #ff5202;
>>>>>>> master
  text-decoration: none;
}

#nav-main a.active {
<<<<<<< HEAD
  color: orange;
}

nav#nav-mobile {
  position: relative;
  display: none; 
  font-family: Open Sans;
=======
  color: #ff5202;
}

nav#nav-mobile {
  position: absolute;
  display: none; 
  font-family: Dosis;
>>>>>>> master
  text-transform: uppercase;
}

nav#nav-mobile ul {
  display: none;
  list-style-type: none;
  left: 0;
  right: 0;
  margin-left: -30px;
<<<<<<< HEAD
  text-align: center;
=======
  text-align: left;
>>>>>>> master
  background-color: rgba(0, 0, 0, 1.0);
  margin-bottom: 0px !important;
}

nav#nav-mobile li {
  display: block;
  margin: 0 -5px;
<<<<<<< HEAD
  border-bottom: solid 1px #00ccd6;
=======
>>>>>>> master
}

nav#nav-mobile li:last-child {
  border-bottom: none; 
}

nav#nav-mobile a {
  display: block;
<<<<<<< HEAD
  color: #efefef;
=======
  color: #ffffff;
>>>>>>> master
  padding: 10px 30px;
}

nav#nav-mobile a:hover {
<<<<<<< HEAD
  color: #00ccd6;
  text-decoration: none; 
}

=======
  color: #FF8000;
  text-decoration: none; 
}


>>>>>>> master
@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; }
}


/* 
    ~~~~~~~~~~~~~~~~~~~~
      PARALLAX STYLING 
    ~~~~~~~~~~~~~~~~~~~~
*/
section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 10px;
<<<<<<< HEAD
  font-family: Open Sans;
=======
  font-family: Dosis;
>>>>>>> master
  font-size: 20px;
  text-align: left;
}

section.module h2 a{
  color: #00ccd6;
  text-decoration: none;
  text-align: left;
  opacity: 1.0;
}

section.module h2 a:hover{
  opacity: 0.6;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px !important;
  font-weight: 300;
}

section.module p a{
 text-decoration: none;
 color: #00ccd6;
 opacity: 1.0;
}

section.module p a:hover{
 opacity: 0.6;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module li {
<<<<<<< HEAD
  display: inline-block;
=======
  font-size: 17px;
>>>>>>> master
}

section.module.content {
  padding: 40px 0;
  color: #ffffff;
  background-color: #181818;
}

<<<<<<< HEAD
=======
h2 img {
  text-align: center;
  max-height: 700px;
  margin-left: 80px;
  padding-top: 80px;
}

>>>>>>> master
@font-face{
  font-family: "Portago ITC";
  src: url("fonts/Portago_ITC.ttf");
}

<<<<<<< HEAD
#title {
  font-family: "Portago ITC", "Open Sans";
}

section.module.content-2 a:hover {
  opacity: 0.6;
}

section.module.content-2 h2{
  font-size: 20px;
}

section.module.parallax {
  height: 900px;
=======
section.module.parallax {
  height: 820px;
>>>>>>> master
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background size: cover;
  max-width: 100%;
}

section.module.parallax h1 {
  color: white;
<<<<<<< HEAD
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  padding-top: 300px;
  word-wrap: break-word;
  opacity: 0.9;
=======
  font-family: Portago ITC;
  text-align: left;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
>>>>>>> master
}

section.module.parallax.parallax-2 h1 {
  color: white;
<<<<<<< HEAD
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  padding-top: 300px;
  word-wrap: break-word;
  opacity: 0.9;
=======
  font-family: Dosis;
  font-weight: 700;
  font-size: 45px;
  text-align: center;
  text-shadow: 0 0 30px rgba(0, 0, 0, 2);
  word-wrap: break-word;
  /*background-color: rgba(0, 0, 0, 0.9);*/
  margin-top: 300px;
>>>>>>> master
}

section.module.parallax.parallax-2 a {
  text-decoration: none;
<<<<<<< HEAD
  color: orange;
  font-size: 30px;
}

=======
  color: #ff5202;
  font-size: 30px;
}

section.module.parallax.parallax-2 a:hover {
  opacity: 0.7;
}

section.module.parallax.parallax-3 h1 {
  color: white;
  font-family: Portago ITC;
  font-size: 100px;
  padding-top: 130px;
  text-align: left;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

section.module.parallax.parallax-4 h1 {
  color: white;
  font-family: Portago ITC;
  font-size: 100px;
  /*padding-top: 100px;*/
  text-align: left;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}

>>>>>>> master
section.module.parallax-1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/hiddenachievement/Order+of+the+Metal+Glove+Backgorund.jpg");
}

section.module.parallax-2{
  background-image: url("https://s3-us-west-2.amazonaws.com/hiddenachievement/Screen01.jpg");
}

<<<<<<< HEAD


@media all and (min-width: 320px) {
  section.module h2 {
    font-size: 20px;
  }

  section.module p {
    font-size: 15px;
  }

  section.module.parallax h1 {
    font-size: 30px;
  }
}

@media all and (min-width: 600px) {
=======
section.module.parallax-3{
  background-image: url("https://s3-us-west-2.amazonaws.com/hiddenachievement/updatebg.jpg");
  max-height: 400px;
}


section.module.parallax-4{
  background-image: url("https://s3-us-west-2.amazonaws.com/hiddenachievement/entitiesbg.jpg");
}

section.module.parallax-5{
  background-image: url("https://s3-us-west-2.amazonaws.com/hiddenachievement/foodbg.jpg");
}

section.module.parallax-6{
  background-image: url("https://s3-us-west-2.amazonaws.com/hiddenachievement/shieldbg.jpg");
}

section.module.parallax-7{
  background-image: url("https://s3-us-west-2.amazonaws.com/hiddenachievement/Screen01.jpg");
}


/* CAROUSEL STYLE */

.slider {
  position: relative;
  width: 100%;
  height: 470px;
  margin-left: 30px;
}

.slide {
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide-img {
  text-align: right;
}

/* CAROUSEL NAVIGATION */


.slider-nav {
  text-align: center;
  margin-top: 20px;
  margin-left: -10px;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}





/*
    MEDIA 360px min
*/

@media all and (min-width: 320px) {
  .slider {
    height: 250px;
  }

  .slider img {
    max-width: 370px;
    margin-left: -70px;
  }

  section.module.parallax-1{
    max-height: 400px;
  }

  section.module.parallax-2{
    max-height: 400px;
  }

  section.module h1 img{
    max-height: 200px;
    margin-top: 20px;
    margin-left: 12px;
  } 

  section.module h1 {
    font-size: 22px;
  }

  section.module h1 a {
    font-size: 20px;
  }

}

/*
    MEDIA 600px min
*/

@media all and (min-width: 600px) {
  section.module.parallax-1{
    max-height: 900px;
  }

  section.module.parallax-2{
    max-height: 900px;
  }

  section.module h1 img{
    max-height: 400px;
    margin-top: 20px;
    margin-left: 0px;
  } 

>>>>>>> master
  section.module h2 {
    font-size: 25px;
  }

  section.module p {
    font-size: 20px;
  }

  section.module.parallax h1 {
    font-size: 96px;
  }
}

<<<<<<< HEAD
@media all and (min-width: 960px) {
=======
/*
    MEDIA 960px min
*/

@media all and (min-width: 960px) {
  section.module.parallax-1{
    max-height: 900px;
  }

  section.module.parallax-2{
    max-height: 900px;
  }

   section.module h1 img{
    max-height: 600px;
    margin-top: 20px;
    margin-left: 0px;
  } 
>>>>>>> master

  section.module h2 {
    font-size: 30px;
  }

  section.module.parallax h1 {
    font-size: 150px;
  }

}

/* 
    ~~~~~~~~~~~~~~~~~~~
      FOOTER STYLING 
    ~~~~~~~~~~~~~~~~~~~
*/

.footer {
  clear: both;
<<<<<<< HEAD
  text-align: center;
  background-color: #181818;
  margin-left: -30px;
=======
  background-color: #181818;
  text-align: center;
  margin-left: -35px;
>>>>>>> master
}

.footer img {
  height: 35px;
  opacity: 1.0;
}

.footer img:hover{
<<<<<<< HEAD
  opacity: 0.6;
=======
  opacity: 0.7;
>>>>>>> master
}

.footer li {
  display: inline-block;
<<<<<<< HEAD
  font-family: Open Sans;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 20px;
=======
  padding-top: 10px;
>>>>>>> master
}

.rights {
  text-align: center;
<<<<<<< HEAD
  font-size: 9px;
  background-color: #181818;
  color: #efefef;
=======
  font-size: 12px; 
  background-color: #181818;
  color: #efefef;
  font-family: Dosis;
>>>>>>> master
}

.rights p {
  margin: 0 0 -10px;
  padding-bottom: 20px;
}

