/* GENERAL */

.container {
  max-width: 960px;
  margin: 0 auto;
}


/* 
    ~~~~~~~~~~~~~~~~
      MENU STYLING 
    ~~~~~~~~~~~~~~~~
*/
#nav-trigger {
  position: relative;
  display: none;
  text-align: right;
  background-color: rgba(0, 0, 0, 1.0);
  width: 100%;
  padding: 10px 30px;
}

#nav-trigger span {
  display: inline-block;
  padding: 10px 30px;
  color: orange;
  cursor: pointer;
  text-transform: uppercase;
}

#nav-trigger span:after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  content: "";
/*  border-top: solid 10px orange;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent; */
}

#nav-trigger span:hover{
  color: orange;
}

#nav-trigger span.open:after {
  border-left: solid 10px transparent;
  /*border-top: none;
  border-bottom: solid 10px orange;
  border-right: solid 10px transparent; */
}

nav#nav-main {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px 0;
  text-transform: uppercase;
  font-family: Open Sans;
  position: fixed;
  width: 100%;

  top: 0px;
  left: 0px;
}

nav#nav-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

nav#nav-main li {
  display: inline-block;
  padding: 0 6px;

}

nav#nav-main li:last-child {
  border-right: none;
}

nav#nav-main a {
  display: block;
  color: #ffffff;
  padding: 20px 30px;
 }

nav#nav-main a:hover {
  color: orange;
  text-decoration: none;
}

#nav-main a.active {
  color: orange;
}

nav#nav-mobile {
  position: absolute;
  display: none; 
  font-family: Open Sans;
  text-transform: uppercase;
}

nav#nav-mobile ul {
  display: none;
  list-style-type: none;
  left: 0;
  right: 0;
  margin-left: -30px;
  text-align: right;
  background-color: rgba(0, 0, 0, 1.0);
  margin-bottom: 0px !important;
}

nav#nav-mobile li {
  display: block;
  margin: 0 -5px;
  border-bottom: solid 1px orange;
}

nav#nav-mobile li:last-child {
  border-bottom: none; 
}

nav#nav-mobile a {
  display: block;
  color: orange;
  padding: 10px 30px;
}

nav#nav-mobile a:hover {
  color: #00ccd6;
  text-decoration: none; 
}

@media all and (max-width: 900px) {
  #nav-trigger {
    display: block; }

  nav#nav-main {
    display: none; }

  nav#nav-mobile {
    display: block; }
}


/* 
    ~~~~~~~~~~~~~~~~~~~~
      PARALLAX STYLING 
    ~~~~~~~~~~~~~~~~~~~~
*/
section.module:last-child {
  margin-bottom: 0;
}

section.module h2 {
  margin-bottom: 10px;
  font-family: Open Sans;
  font-size: 20px;
  text-align: left;
}

section.module h2 a{
  color: #00ccd6;
  text-decoration: none;
  text-align: left;
  opacity: 1.0;
}

section.module h2 a:hover{
  opacity: 0.6;
}

section.module p {
  margin-bottom: 40px;
  font-size: 16px !important;
  font-weight: 300;
}

section.module p a{
 text-decoration: none;
 color: #00ccd6;
 opacity: 1.0;
}

section.module p a:hover{
 opacity: 0.6;
}

section.module p:last-child {
  margin-bottom: 0;
}

section.module li {
  display: inline-block;
}

section.module.content {
  padding: 40px 0;
  color: #ffffff;
  background-color: #181818;
}

@font-face{
  font-family: "Portago ITC";
  src: url("fonts/Portago_ITC.ttf");
}

/*#title {
  font-family: "Portago ITC", "Open Sans";
}*/

section.module.content-2 a:hover {
  opacity: 0.6;
}

section.module.content-2 h2{
  font-size: 20px;
}

section.module.parallax {
  height: 900px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background size: cover;
  max-width: 100%;
}

section.module.parallax h1 {
  color: white;
  font-size: 70px;
  font-weight: 700;
  text-align: left;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  /*padding-top: 300px;
  word-wrap: break-word;
  opacity: 0.9;*/
}

h1 img {
  max-height: 600px;
  margin-top: 100px;
  margin-left: 65px;
}

section.module.parallax.parallax-2 h1 {
  color: white;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  padding-top: 300px;
  word-wrap: break-word;
  opacity: 0.9;
}

section.module.parallax.parallax-2 a {
  text-decoration: none;
  color: orange;
  font-size: 30px;
}

section.module.parallax-1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/hiddenachievement/Order+of+the+Metal+Glove+Backgorund.jpg");
}

section.module.parallax-2{
  background-image: url("https://s3-us-west-2.amazonaws.com/hiddenachievement/Screen01.jpg");
}


/*
    MEDIA 360px min
*/

@media all and (min-width: 320px) {
  section.module.parallax-1{
    max-height: 700px;
  }

  section.module.parallax-2{
    max-height: 700px;
  }

  section.module h1 img{
    max-height: 200px;
    margin-top: 50px;
    margin-left: 12px;
  } 

  section.module h1 {
    font-size: 22px;
  }

  section.module h1 a {
    font-size: 20px;
  }

  section.module.parallax h1 {
    font-size: 30px;
  }
}

/*
    MEDIA 600px min
*/

@media all and (min-width: 600px) {
  section.module.parallax-1{
    max-height: 900px;
  }

  section.module.parallax-2{
    max-height: 900px;
  }

    section.module h1 img{
    max-height: 400px;
    margin-top: 100px;
    margin-left: 0px;
  } 

  section.module h2 {
    font-size: 25px;
  }

  section.module p {
    font-size: 20px;
  }

  section.module.parallax h1 {
    font-size: 96px;
  }
}

/*
    MEDIA 960px min
*/

@media all and (min-width: 960px) {
  section.module.parallax-1{
    max-height: 900px;
  }

  section.module.parallax-2{
    max-height: 900px;
  }

   section.module h1 img{
    max-height: 700px;
    margin-top: 100px;
    margin-left: 0px;
  } 

  section.module h2 {
    font-size: 30px;
  }

  section.module.parallax h1 {
    font-size: 150px;
  }

}

/* 
    ~~~~~~~~~~~~~~~~~~~
      FOOTER STYLING 
    ~~~~~~~~~~~~~~~~~~~
*/

.footer {
  clear: both;
  text-align: center;
  background-color: #181818;
  margin-left: -30px;
}

.footer img {
  height: 35px;
  opacity: 1.0;
}

.footer img:hover{
  opacity: 0.6;
}

.footer li {
  display: inline-block;
  font-family: Open Sans;
  font-size: 15px;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 20px;
}

.rights {
  text-align: center;
  font-size: 9px;
  background-color: #181818;
  color: #efefef;
}

.rights p {
  margin: 0 0 -10px;
  padding-bottom: 20px;
}

